<h2> REGISTER </h2>


<form action="/auth/signup" method="post" enctype="multipart/form-data">

<label for="username"> Username :</label>
<input type="text" id="username" name="username">

<label for="email"> Email :</label>
<input type="email" id="email" name="email">

<label for="password"> Password :</label>
<input type="password" id="password" name="password">

<label for="avatar"> Your Avatar :</label>
<input type="file" name="avatar" id="avatar">

<button> Register</button>


</form>